{% extends ':site:base.html.twig' %}

{% block body %}
    <div class="col-xs-3">
        <h1>Evénements</h1>
    </div>
    <div class="col-xs-9">
        <p>Le meilleur des festivals avec Transcode
            Tout au long de l'année et partout en France, Transcode est partenaire des plus grands festivals et
            événements musicaux.
            Du jazz au classique, en passant par la world ou les musiques actuelles, Transcode vous concocte un planning
            idéal des festivals incontournables !
            Sans plus attendre, écoutez la webradio Transcode dédiée à chacun de ces événements partenaires, retrouvez
            la programmation, les infos pratiques et revivez les éditions passées grâce aux photos et vidéos des plus
            beaux concerts !
        </p>
    </div>
    <div class="event-grid">
        <div class="col-xs-4 event">
            <img src="{{ asset('images/event/filleSeul.jpg') }}" alt="">
            <img src="{{ asset('images/event/LesEscales.jpg') }}" alt="">
            <img src="{{ asset('images/event/pessac.jpg') }}" alt="">
        </div>

        <div class="col-xs-4 event">
            <div class="col-xs-6 event-left">
                <img src="{{ asset('images/event/34festival.jpg') }}" alt="">
            </div>
            <div class ="col-xs-6 event-right">
                <img src="{{ asset('images/event/JAZZ.jpg') }}" alt="">
            </div>
            <img src="{{ asset('images/event/laroutedurock.jpg') }}" alt="">
            <img src="{{ asset('images/event/nuitsSonore.jpg') }}" alt="">
        </div>

        <div class="col-xs-4 event">
            <img src="{{ asset('images/event/portlatino.jpg') }}" alt="">
            <img src="{{ asset('images/event/rockenseine.jpg') }}" alt="">
            <img src="{{ asset('images/event/alorsChante.jpg') }}" alt="">
        </div>
    </div>




{% endblock %}
