{% extends ':site:base.html.twig' %}

{% block body %}

    <h1 class="blue-text"><strong>Transcode</strong> Careers</h1>
    <div class="job-offer">
        <div class="col-xs-4">

            <img src="{{ asset('images/jobs/Advertsiting sales.jpg') }}" alt="">
            <h3 class="light-blue-text"> Advertising Sales </h3>
            <p> Help brands boost their presence with Deezer.</p>
        </div>
        <div class="col-xs-4">

            <img src="{{ asset('images/jobs/business development.jpg') }}" alt="">
            <h3 class="light-blue-text"> Business Development </h3>
            <p> Identify and establish relationships with dynamic partners around the world. </p>
        </div>
        <div class="col-xs-4">

            <img src="{{ asset('images/jobs/content & legal.jpg') }}" alt="">
            <h3 class="light-blue-text"> Content & Legal </h3>
            <p> Work with labels and artists to help that obscure Icelandic psychedelic post-darkwave band find their
                audience.</p>
        </div>
        <div class="col-xs-4">

            <img src="{{ asset('images/jobs/customer value.jpg') }}" alt="">
            <h3 class="light-blue-text"> Customer Value </h3>
            <p>Make sure our customers want to stay with us forever.</p>
        </div>
        <div class="col-xs-4">

            <img src="{{ asset('images/jobs/engineeering.jpg') }}" alt="">
            <h3 class="light-blue-text"> Engineering </h3>
            <p>Build Deezer from the ground up and tackle challenges every day (not only in table football).</p>
        </div>
        <div class="col-xs-4">

            <img src="{{ asset('images/jobs/finance.jpg') }}" alt="">
            <h3 class="light-blue-text"> Finance </h3>
            <p>Define an ambitious business model and balance the books.</p>
        </div>
        <div class="col-xs-4">

            <img src="{{ asset('images/jobs/global operations.jpg') }}" alt="">
            <h3 class="light-blue-text"> Global Operations </h3>
            <p>Support the expansion of Deezer around the world, opening offices and gaining new fans everywhere.</p>
        </div>
        <div class="col-xs-4">

            <img src="{{ asset('images/jobs/human ressource.jpg') }}" alt="">
            <h3 class="light-blue-text"> Human Resources </h3>
            <p>Grow the company with strong talent and focus on staff efficiency, performance, and happiness.</p>
        </div>
        <div class="col-xs-4">

            <img src="{{ asset('images/jobs/innovation.jpg') }}" alt="">
            <h3 class="light-blue-text"> Innovation </h3>
            <p>Work with the entire Deezer team to imagine future features and technologies.</p>
        </div>
    </div>

{% endblock %}
