{% extends ':site:base.html.twig' %}

{% block body %}
    <h1>Team</h1>

    <div class="row">
        {% for teammember in teammembers %}
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
            <div class="col-xs-12">
                <img class="img-circle" width="100%" src="{{ asset(teammember.getImage()) }}" alt="{{ teammember.fullName() }}">
            </div>
            <div>
                <h3 class="text-center">{{ teammember.fullName() }}</h3>
                <p class="text-justify">{{ teammember.description }}</p>
                <p class="pull-right orange-text">{{ teammember.specialite}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
